<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="index.php"/>
        <remove value="index.htm"/>
        <remove value="../view/index.html"/>
        <add value="login.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>