<!DOCTYPE html>
<html lang="pt-BR">
<!-- Início: head -->
<head>
	<!-- Início: Meta -->
	<meta charset="utf-8">
	<title>CDA Telecom</title>
	<meta name="description" content="CDA Telecom">
	<meta name="author" content="Tiago">
	<meta name="keyword" content="CDA, SMS, Envio, Telecom">
	<!-- Fim: Meta -->
	<!-- Início: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Fim: Mobile Specific -->
	<!-- Início: CSS -->
	<link id="bootstrap-style" href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="../css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="../css/style-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- Fim: CSS -->
	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<link id="ie-style" href="../css/ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 9]>
	<link id="ie9style" href="../css/ie9.css" rel="stylesheet">
	<![endif]-->
	<!-- Início: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- Fim: Favicon -->
	<!-- Início: JavaScript-->
	<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery-migrate-1.0.0.min.js"></script>
	<script type="text/javascript" src="../js/jquery-ui-1.10.0.custom.min.js"></script>
	<script type="text/javascript" src="../js/jquery.ui.touch-punch.js"></script>
	<script type="text/javascript" src="../js/modernizr.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/jquery.cookie.js"></script>
	<script type="text/javascript" src='../js/fullcalendar.min.js'></script>
	<script type="text/javascript" src='../js/jquery.dataTables.min.js'></script>
	<script type="text/javascript" src="../js/excanvas.js"></script>
	<script type="text/javascript" src="../js/jquery.flot.js"></script>
	<script type="text/javascript" src="../js/jquery.flot.pie.js"></script>
	<script type="text/javascript" src="../js/jquery.flot.stack.js"></script>
	<script type="text/javascript" src="../js/jquery.flot.resize.min.js"></script>
	<script type="text/javascript" src="../js/jquery.chosen.min.js"></script>
	<script type="text/javascript" src="../js/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="../js/jquery.cleditor.min.js"></script>
	<script type="text/javascript" src="../js/jquery.noty.js"></script>
	<script type="text/javascript" src="../js/jquery.elfinder.min.js"></script>
	<script type="text/javascript" src="../js/jquery.raty.min.js"></script>
	<script type="text/javascript" src="../js/jquery.iphone.toggle.js"></script>
	<script type="text/javascript" src="../js/jquery.uploadify-3.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery.gritter.min.js"></script>
	<script type="text/javascript" src="../js/jquery.imagesloaded.js"></script>
	<script type="text/javascript" src="../js/jquery.masonry.min.js"></script>
	<script type="text/javascript" src="../js/jquery.knob.modified.js"></script>
	<script type="text/javascript" src="../js/jquery.sparkline.min.js"></script>
	<script type="text/javascript" src="../js/counter.js"></script>
	<script type="text/javascript" src="../js/retina.js"></script>
	<script type="text/javascript" src="../js/custom.js"></script>
	<!-- Início: Importação do Sistema Antigo -->
	<script type="text/javascript" src="../js/jquery.base64.js"></script>
	<script type="text/javascript" src="../js/jquery.blockUI.js"></script>
	<script type="text/javascript" src="../js/tablesorter.js"></script>
	<script type="text/javascript" src="../js/sortear.js"></script>
	<script type="text/javascript" src="../js/jquery.btechco.excelexport.js"></script>
	<script type="text/javascript" src="../js/getJS.js"></script>
	<script type="text/javascript" src="../js/masked.js"></script>
	<script type="text/javascript" src="../js/calendario/br.js"></script>
	<script type="text/javascript" src="../js/jquery_ui_10_3.js"></script>
	<script type="text/javascript" src="../js/jquery.msgBox.js"></script>
	<!-- Fim: Importação do Sistema Antigo -->
	<script>
        $(document).ready(function(){
            $("#tabelaCampanhas").hide();
            $("#dt_inicial_invalida").hide();
            $("#dt_final_invalida").hide();
            $("#dt_divergente").hide();
            $("#carregando").hide();
            $("#btnExport").hide();
            $("#gerar_reletorio").click(function(){
                var gerar = true;
                $("#dt_inicial_invalida").hide();
                $("#dt_final_invalida").hide();
                $("#dt_divergente").hide();
                if($("#dt_inicial").val() == ""){
                    $("#dt_inicial_invalida").show();
                    gerar = false;
                }
                if($("#dt_final").val() == ""){
                    $("#dt_final_invalida").show();
                    gerar = false;
                }
                var dtInicial = $("#dt_inicial").val();
                var dtFinal = $("#dt_final").val();
                if (dtInicial > dtFinal && dtInicial != 0 && dtFinal != 0){
                    $("#dt_divergente").show();
                    gerar = false;
                }
                if(gerar){
                    gerarRelatorioCampanhas();
                }
            });
            function gerarRelatorioCampanhas(){
                $("#carregando").show();
                $("#btnExport").hide();
                $.ajax({
                    type: "POST",
                    url: "../Controller/ctl_relatorio.asp",
                    dataType: "json",
                    async: true,
                    data: {
                        tipo : "gerarRelatorioCampanha",
                        data_inicial : $("#dt_inicial").val(),
                        data_final : $("#dt_final").val()
                    },
                    success: function(json){
                        if(json.length > 0){
                            $("#resultCampanha").html("");
                            var total_msg_enviadas = 0;
                            var total_msg_erro = 0;
                            for(i in json){
                                total_msg_enviadas = parseInt(total_msg_enviadas) + parseInt(json[i].qtde_msg_enviadas);
                                total_msg_erro = parseInt(total_msg_erro) + parseInt(json[i].qtde_msg_erros);
                                if(json[i].id_campanha != "AVULSA"){
                                    $("#resultCampanha").append("<tr class='font_table'>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].id_campanha+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].email_retorno+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].total_campanha+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].data_envio+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].texto+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].qtde_msg_enviadas+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].qtde_msg_erros+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].qtde_msg_estouro+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "<img class='glyphicons-icon download download_numeros' width='22px' heigt='22px' id='"+json[i].id_campanha+"' />"+
                                        "</td>"+
                                        "</tr>");
                                }else{
                                    $("#resultCampanha").append("<tr class='font_table'>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].id_campanha+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].email_retorno+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].total_campanha+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].data_envio+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].texto+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].qtde_msg_enviadas+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].qtde_msg_erros+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "<span class='font_table'><b>"+
                                        json[i].qtde_msg_estouro+
                                        "</span><b>"+
                                        "</td>"+
                                        "<td class='text-center'>"+
                                        "</td>"+
                                        "</tr>");
                                }
                                $("#resultCampanha").show();
                                $("#tabelaCampanhas").show();
                                $("#carregando").hide();
                                $("#btnExport").show();
                                $("#total_enviado").html("<b>Total Enviados: " +total_msg_enviadas+"</b>");
                                $("#total_erro").html("<b>Total Erros: " +total_msg_erro+"</b>");
                                $("#total_enviado").show();
                                $("#total_erro").show();
                            }
                        }else{
                            $("#resultCampanha").hide();
                            $("#tabelaCampanhas").hide();
                            $("#carregando").hide();
                            $("#total_enviado").hide();
                            $("#total_erro").hide();
                        }
                    }
                });
            }
            $('body').on('click','.download_numeros',function(){
                var id_campanha = $(this).attr("id");
                $.blockUI({ message:'Aguarde!'});
                $.ajax({
                    type: "POST",
                    url: "../Controller/ctl_relatorio.asp",
                    dataType: "json",
                    async: true,
                    data: {
                        tipo : "gerarRelatorioCampanhasCSV",
                        id_campanha : id_campanha
                    },
                    success: function(json){
                        if(json.length > 0){
                            $.unblockUI();
                            arquivo = json[0].arquivo_excel;
                            window.location.href = '../Excel/'+arquivo;
                        }
                    },
                    error: function (error) {
                        alert('ENTRE EM CONTATO COM O SUPORTE E INFORME O ERRO:\n"' + eval(error));
                        $.unblockUI();
                    }
                });
            });
            $("#exportar").click(function(){
                $("#tabela").btechco_excelexport({
                    containerid: "tabela"
                    ,datatype: $datatype.Table
                    ,filename: 'RELATORIO / CAMPANHA'
                });
            });
        });
	</script>
	<!-- Fim: JavaScript-->
</head>
<!-- Fim: head -->
<!-- Início: body -->
<body>
<!-- Início: Header -->
<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/view/index.html">
				<img class="avatar" alt="CDATelecom" width="114" height="50" src="../img/cdap.png">
			</a>
			<!-- Início: Header Menu -->
			<div class="nav-no-collapse header-nav">
				<ul class="nav pull-right">
					<!-- Início: User Dropdown -->
					<li class="dropdown">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="halflings-icon white user"></i> Developer
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-menu-title">
								<span>Configurações</span>
							</li>
							<li><a href="#"><i class="halflings-icon user"></i> Perfil</a></li>
							<li><a href="../login.html"><i class="halflings-icon off"></i> Sair</a></li>
						</ul>
					</li>
					<!-- Fim: User Dropdown -->
				</ul>
			</div>
			<!-- Fim: Header Menu -->
		</div>
	</div>
</div>
<!-- Fim: Header -->
<!-- Início: container-fluid-full -->
<div class="container-fluid-full">
	<!-- Início: row-fluid -->
	<div class="row-fluid">
		<!-- Início: Main Menu -->
		<div id="sidebar-left" class="span2">
			<div class="nav-collapse sidebar-nav">
				<ul class="nav nav-tabs nav-stacked main-menu">
					<li><a href="/view/index.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> DashBoard</span></a></li>
					<li>
						<a class="dropmenu" href="#"><i class="icon-envelope"></i><span class="hidden-tablet"> Envio de SMS</span></a>
						<ul>
							<li><a class="submenu" href="/view/enviosmsindividual.html"><i class="icon-file"></i><span class="hidden-tablet"> SMS Individual</span></a></li>
							<li><a class="submenu" href="/view/enviosmslote.html"><i class="icon-copy"></i><span class="hidden-tablet"> SMS em Lote</span></a></li>
						</ul>
					</li>
					<!-- Início: Mensagem Padrão -->
					<!--
                    <li>
                        <a class="dropmenu" href="#"><i class="icon-envelope-alt"></i><span class="hidden-tablet"> Mensagem Padrão</span></a>
                        <ul>
                            <li><a class="submenu" href="/view/padraomodelos.html"><i class="icon-list"></i><span class="hidden-tablet"> Modelos</span></a></li>
                            <li><a class="submenu" href="/view/padraocadastrar.html"><i class="icon-plus-sign"></i><span class="hidden-tablet"> Cadastrar</span></a></li>
                        </ul>
                    </li>
                    -->
					<!-- Fim: Mensagem Padrão -->
					<li>
						<a class="dropmenu" href="#"><i class="icon-star"></i><span class="hidden-tablet"> Favoritos</span></a>
						<ul>
							<li><a class="submenu" href="/view/blacklist.html"><i class="icon-eye-close"></i><span class="hidden-tablet"> Black List</span></a></li>
						</ul>
					</li>
					<li>
						<a class="dropmenu" href="#"><i class="icon-tasks"></i><span class="hidden-tablet"> Relatórios</span></a>
						<ul>
							<li><a class="submenu" href="/view/relsmsenviado.html"><i class="icon-upload-alt"></i><span class="hidden-tablet"> SMS Enviado</span></a></li>
							<li><a class="submenu" href="/view/relfilaagend.html"><i class="icon-align-justify"></i><span class="hidden-tablet"> Fila de Agendamento</span></a></li>
							<li><a class="submenu" href="/view/relretorno.html"><i class="icon-download-alt"></i><span class="hidden-tablet"> Retorno</span></a></li>
						</ul>
					</li>
					<li><a href="../login.html"><i class="icon-lock"></i><span class="hidden-tablet"> Sair</span></a></li>
				</ul>
			</div>
		</div>
		<!-- Fim: Main Menu -->
		<!-- Início: noScript -->
		<noscript>
			<div class="alert alert-block span10">
				<h4 class="alert-heading">Warning!</h4>
				<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
			</div>
		</noscript>
		<!-- Fim: noScript -->
		<!-- Início: Conteúdo -->
		<div id="content" class="span10">
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="/view/index.html">Home</a>
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="/view/relsmsenviado.html">Relatórios - Relatório de Campanha</a></li>
			</ul>
			<!-- Início: row-fluid -->
			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon white edit"></i><span class="break"></span>Relatório de Campanha</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
						</div>
					</div>
					<div class="box-content">
						<form class="form-horizontal">
							<fieldset>
								<div class="control-group">
									<label class="control-label" for="dt_inicial">Data Inicial </label>
									<div class="controls">
										<input type="text" class="input-xlarge datepicker" id="dt_inicial" placeholder="01/02/2018">
									</div>
									<div id="dt_inicial_invalida">
										<br/>
										<div class="alert alert-error">
											<button type="button" class="close" data-dismiss="alert"></button>
											<strong>Informe a data inicial!</strong> Faça a alteração e clique em gerar novamente.
										</div>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="dt_final">Data Final </label>
									<div class="controls">
										<input type="text" class="input-xlarge datepicker" id="dt_final" placeholder="01/02/2018">
									</div>
									<div id="dt_final_invalida">
										<br>
										<div class="alert alert-error">
											<button type="button" class="close" data-dismiss="alert"></button>
											<strong>Informe a data final!</strong> Faça a alteração e clique em gerar novamente.
										</div>
									</div>
								</div>
								<div id="dt_divergente">
									<br/>
									<div class="control-group">
										<div class="alert alert-error">
											<button type="button" class="close" data-dismiss="alert"></button>
											<strong>A data Inicial não pode ser superior a data Final!</strong> Faça a alteração e clique em gerar novamente.
										</div>
									</div>
								</div>
								<div class="form-actions">
									<button type="button" class="btn btn-primary" id="gerar_reletorio">Gerar</button>
									<button type="reset" class="btn">Cancelar</button>
								</div>
							</fieldset>
						</form>

					</div>
				</div>
			</div>
			<!-- Fim: row-fluid-->
			<div id="carregando">
				<br>
				<span><h2><img src="../img/carregando_dash.gif" width="200" height="200" ></h2></span>
				<br>
            </div>
			<!-- Início: row-fluid -->
			<div class="row-fluid sortable" id="tabelaCampanhas">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon white folder-open"></i><span class="break"></span>Relatório de Campanha - Exibição</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered bootstrap-datatable" cellspacing="0" cellpadding="0" id="tabela">
							<thead>
							<tr>
								<th class="text-center">ID</th>
								<th class="text-center">Email Retorno</th>
								<th class="text-center">Total</th>
								<th class="text-center">Data</th>
								<th class="text-center">Texto</th>
								<th class="text-center">Qtde Enviadas</th>
								<th class="text-center">Qtde Erros</th>
								<th class="text-center">MSG'S + 160 C</th>
								<th class="text-center"></th>
							</tr>
							</thead>
							<tbody id="resultCampanha"></tbody>
						</table>
					</div>
					<div id="btnExport">
						<br>
						<img src="../img/excel-logo.png" width="50" height="50" id="exportar">
					</div>
				</div>
			</div>
			<!-- Fim: row-fluid -->
		</div>
		<!-- Fim: Conteúdo -->
	</div>
	<!--Fim: row-fluid-->
</div>
<!-- Fim: container-fluid-full -->
<!-- Início: Rodapé -->
<footer>
	<p>
		<span style="text-align:left;float:left">&copy; 2018 <a href="#####" alt="Bootstrap_Metro_Dashboard">CDA Telecom</a></span>
	</p>
</footer>
<!-- Fim: Rodapé -->
</body>
<!-- Fim: body -->
</html>